/* 全局 */
body {
	margin:0;
	padding:0;
	font-size:14px;
	font-family:"Microsoft Yahei";
}

/* 主题内容页面 */
.index-content {
	background:#F9F9F9;
	height:auto;
	padding:8px;
}

/* 初始化内容 */
.index-pannel {
	margin:30px auto;
	margin-left:30px
}